h1, h2, h3 {
  margin: 0;
  padding: 0 10px;
}

body {
  margin: 0;
  color: #333;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  background: #ebe8e5;
  overflow-y:scroll
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h1 {
  font-size: 24px;
  transition: all .2s linear;
}

.h1:hover {
  color: #757575;
}

.hr {
  margin: 0;
  border: 1px solid #9e9e9e;
  padding: 0;
}

.input,
.input__error {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  padding: 2px 8px;
  border: none;
  outline: none;
}

.input:focus {
  padding: 2px 8px 2px 6px;
  border: 2px solid #2684ff;
}

.input__error:focus {
  padding: 2px 8px 2px 6px;
  border: 2px solid #d32f2f;
}

.select {
  padding: 10px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.flex-container > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.flex-container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 5px 10px;
}

.flex-container__form > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  margin: 5px auto;
  line-height: 30px;
}

.flex-item__one p,
.flex-item__two p {
  margin: 0;
  padding: 0 8px;
  transition: all .2s linear;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  hyphens: auto;
}

p:hover {
  color: #757575;
}

.flex-item__three {
  position: relative;
  height: 30px;
  cursor: pointer;
}

.flex-item__four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: max-content;
}


/* buttons and icons */

.btn {
  display: inline-block;
  width: 60px;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
  outline: none;
}

.btn-add {
  background-color: #81c784;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}

.btn-add:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.btn-confirm {
  background-color: #ffb74d;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}

.btn-confirm:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  left: calc(50% - 10px);
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffb74d transparent;
}

.btn-confirm:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.btn-confirm:hover:before {
  top: -10px;
}

.faicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 60px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
}

.icon-delete:hover {
  color: #d32f2f;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.icon-edit:hover {
  color: #1976d2;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}


/* copy color value */

.copy-hex-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 30px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 10px;
  cursor: pointer;
}

.copy-hex-value:hover {
  background-color: #757575;
  border: 1px solid #212121;
}

.copy-hex-value span {
  display: none;
  color: white;
}

.copy-hex-value:hover span {
  display: inline;
  text-align: center;
}

.copy-rgb-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  right: 0;
  height: 30px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 10px;
  cursor: pointer;
}

.copy-rgb-value:hover {
  background-color: #757575;
  border: 1px solid #212121;
}

.copy-rgb-value span {
  display: none;
  color: white;
}

.copy-rgb-value:hover span {
  display: inline;
  text-align: center;
}


/* pick color hint */

.pick-color-hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 10px;
  pointer-events: none;
}

.pick-color-hint span {
  display: inline;
  text-align: center;
  color: white;
}

@media all and (min-width: 600px) {
  .h1 {
    font-size: 36px;
  }

  .hr {
    display: none;
  }

  .hr__form {
    display: inline;
    border: 1px solid #9e9e9e;
    margin-top: 30px;
  }

  .select {
    padding: 30px 10px;
  }

  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
  }

  .flex-container > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    /*background-color: lightblue;*/
  }

  .flex-container__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
  }

  .flex-container__form > * {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 0 5px;
    height: 30px;
    line-height: 30px;
    /*background-color: lightpink;*/
  }

  .flex-item__four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: max-content;
  }


  /* buttons and icons */
  .btn {
    margin-right: 0;
  }

  .btn-confirm:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    left: 0;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffb74d transparent transparent;
  }

  .btn-confirm:hover:before {
    top: calc(50% - 10px);
    left: -10px;
  }

  .faicon {
    margin-right: 0;
  }
}